html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,h2{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 28px;
}

p{
    font-size: 24px;
}

.main{
    font-size: 36px;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
    margin-left: 10%;
}

.block{
    margin-right: 25%;
    margin-left: 20px;
    margin-bottom: 0cm;
}

.block1{
    margin-right: 25%;
    margin-left: 20px;
    margin-bottom: 0cm;
}

.container1{
    border-radius: 20px;
    margin-left: 0px;
    background-color: #dedede;
   

    display: flex;
    justify-content:flex-end;
    width: 100%;
    max-width: 1170px;
    margin-left: 0px;
    margin-right: auto;
}

.container1:last-child{
    margin-right: 40px;
    margin-bottom: 0cm;
}

.metka{
    border-radius: 20px;
    padding: 10px;
    background-color: blue;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: center;
    max-width: 1170px;
    margin-left: 0px;
    margin-right: auto;

    color: white;
    font-size: 22px;
}

.container2{
    border-radius: 20px;
    margin-left: 0px;
    background-color: #dedede;
   

    display: flex;
    justify-content:left;
    width: 90%;
    max-width: 1170px;
    margin-left: 0px;
    margin-right: auto;
}

.container2:last-child{
    margin-right: 40px;
    margin-bottom: 3cm;
}

.figure{
    margin-left: 0px;
    margin-bottom: 0cm;
    margin-right: 0px;
}

.figure1{
    margin-left: 0px;
    margin-bottom: 0cm;
    margin-right: 0px;

}


.figcap{
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 0px;
    font-size: 24px;
}

.figcap1{
    font-size: 18px;
}

.teg{
    font-size: 20px;

}

.bor{
    border: 1px solid;
    width: 70%;
    height: 50%;
}

.teg{
    border-bottom-style: solid;
    border-bottom-color: navy ;
    color: navy;
}

ul li::marker {
    color: navy;
}

.pgray{
    font-size: 20px;
    color: black;
}